.card-article {
  width: 33.3333%;
  margin: 0 1rem;
  text-decoration: none;
}

@media screen and (max-width: 567px) {
  .card-article {
    width: calc(100% - 2rem);
    margin: 0 1rem 2.75rem;
  }
}

.card-image {
  position: relative;
  overflow: hidden;
}

.img-article {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.dim-overlay {
  position: absolute;
  background: $night-bg;
  display: block;
  left: 0;
  top: 0;
  width: 110%;
  height: 110%;
  z-index: 1;
  opacity: 0;
}

.card-article:hover .img-article {
  transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0);
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.card-article:hover .dim-overlay {
  opacity: 0.5;
}

.article-year {
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: $night-font-grey100;
  margin-top: 1rem;
}

@media screen and (max-width: 1023px) {
  .article-year {
    margin-top: 0.75rem;
  }
}

@media screen and (max-width: 567px) {
  .article-year {
    margin-top: 1rem;
  }
}

.article-title {
  font-weight: 500;
  font-size: calc(1rem + 0.15625vw);
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: $night-font-white;
  margin-top: 0.25rem;
}

@media screen and (max-width: 567px) {
  .article-title {
    font-size: 1.125rem;
  }
}

.article-desc {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.563;
  color: $night-font-grey100;
  margin-top: 0.325rem;
}

.card-article:hover .article-title {
  text-decoration: underline;
}