.col-download {
  width: calc(100% - 2rem);
  height: auto;
  margin: 0 1rem 2rem;
  background: $night-box;
  padding: 2.75rem;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .col-download {
    flex-direction: column;
    align-items: initial;
    padding: 2rem;
  }
}

.resume-stand-for {
  display: flex;
  flex-direction: column;
}

.resume-name {
  margin-bottom: 0.125rem;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 2rem;
  color: $night-font-white;
}

@media screen and (max-width: 567px) {
  .resume-name {
    text-align: center;
    margin-bottom: 0.25rem;
  }
}

.resume-role {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: $night-font-grey100;
}

@media screen and (max-width: 767px) {
  .resume-role {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 567px) {
  .resume-role {
    text-align: center;
  }
}

.download-resume {
  text-decoration: none;
  text-align: center;
  background: $bg-gradient-cta;
  height: 3rem;
  width: auto;
  padding: 0.875rem 1.5rem;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
  color: $night-bg;
}

@media screen and (max-width: 767px) {
  .download-resume {
    margin-right: auto;
  }
}

@media screen and (max-width: 567px) {
  .download-resume {
    margin-right: 0;
  }
}

.download-resume:hover {
  background: $bg-gradient-cta-hover;
}

.col-4 {
  width: 33.3333%;
  height: auto;
  margin: 0 1rem;
  background: $night-box;
  padding-top: 2.75rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .col-4 {
    padding-top: 2.25rem;
    padding-bottom: 1.5rem;
    }
}

@media screen and (max-width: 567px) {
  .col-4 {
    width: calc(100% - 2rem);
    margin: 0 1rem 2.5rem;
  }
}

.col-8 {
  width: 66.6667%;
  height: auto;
  margin: 0 1rem;
  background: $night-box;
  padding-top: 2.75rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .col-8 {
    padding-top: 2.25rem;
    padding-bottom: 1.5rem;
    }
}

@media screen and (max-width: 567px) {
  .col-8 {
    width: calc(100% - 2rem);
    margin: 0 1rem 2.5rem;
  }
}

.section {
  margin: 0 2.75rem;
}

@media screen and (max-width: 767px) {
  .section {
    margin: 0 2rem;
  }
}

.section-proof {
  margin: 0 2.75rem;
}

@media screen and (max-width: 767px) {
  .section-proof {
    margin: 0 2rem;
  }
}

.section-proof ul {
  margin-bottom: 2rem;
}

.section-proof ul li {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875;
  color: $night-font-grey100;
  list-style-position: inside;
  list-style-type: square;
}

.section-heading {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 1.5px;
  color: $bg-gradient-cta;
}

@media screen and (max-width: 567px) {
  .section-heading {
    margin-bottom: 0.75rem;
  }
}

.section ul li {
  margin-bottom: 0.75rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0px;
  color: $night-font-grey100;
  list-style: none;
}

.border-center {
  height: 1px;
  width: auto;
  background: $night-box-hover;
  margin: 1.75rem 2.75rem 2.5rem;
}

@media screen and (max-width: 767px) {
  .border-center {
    margin: 1.25rem 2rem 2rem;
  }
}

.for-work {
  margin-top: 0.5rem;
}

.section-institution {
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: 0.25px;
  color: $night-font-white;
}

@media screen and (max-width: 1023px) {
  .section-institution {
    line-height: 1.75rem;
    }
}

.section-yoe {
  margin-bottom: 0.75rem;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.25px;
  color: $night-font-grey100;
}

.section-desc {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.688;
  color: $night-font-grey100;
}

@media screen and (max-width: 567px) {
  .section-desc {
    line-height: 1.625;
    }
}