// p Fit Screen
.fit-screen {
  width: 100vw;
  height: 100vh;
  background: $night-bg;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1439px) and (max-height: 600px) and (orientation: landscape) {
  .fit-screen {
    height: 32rem;
  }
}

.block-desktop {
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0.5;
}

@media screen and (min-width: 1280px) {
  .block-desktop {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .block-desktop {
    width: 78%;
  }
}

@media screen and (max-width: 1023px) {
  .block-desktop {
    display: none;
  }
}

.block-mobile {
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0.5;
}

@media screen and (min-width: 1024px) {
  .block-mobile {
    display: none;
  }
}

.intro {
  margin: auto 15.625vw calc(2.5rem + 1vw);
  animation: reveal 0.6s ease-in-out;
  z-index: 1;
}

@keyframes reveal {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: auto 2rem 2.25rem;
  }
}

@media screen and (max-width: 567px) {
  .intro {
    margin: auto 1.5rem 2rem;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin-bottom: 1.5rem;
  }
}

.intro-head {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: calc(3rem + 0.46875vw);
  line-height: calc(4rem + 0.3125vw);
  letter-spacing: -1px;
  color: $night-font-white;
}

@media screen and (max-width: 567px) {
  .intro-head {
    font-size: 2.5rem;
    line-height: 1.25;
  }
}

@media screen and (max-width: 320px) {
  .intro-head {
    font-size: 2rem;
    line-height: 1.4;
  }
}

.intro-body {
  font-weight: 400;
  font-size: calc(1rem + 0.25vw);
  line-height: 1.632;
  letter-spacing: -0.125px;
  color: $night-font-grey100;
}

@media screen and (max-width: 1023px) {
  .intro-body {
    font-size: calc(1rem + 0.46875vw);
  }
}

@media screen and (max-width: 567px) {
  .intro-body {
    line-height: 1.75;
  }
}

.see-resume {
  font-weight: 600;
  margin: 0 1rem 1.75rem;
  font-size: calc(2.5rem + 0.46875vw);
  color: $night-font-white;
  text-align: center;
  letter-spacing: -0.25px;
}

@media screen and (max-width: 1023px) {
  .see-resume {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 567px) {
  .see-resume {
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
  }
}

.cta-move-to-resume-page {
  text-decoration: none;
  background: $bg-gradient-cta;
  height: 3rem;
  padding: 0.875rem 1.5rem;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
  color: $night-bg;
  letter-spacing: 0.25px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1023px) {
  .cta-move-to-resume-page {
    margin-bottom: 2rem;
  }
}

.cta-move-to-resume-page:hover {
  background: $bg-gradient-cta-hover;
}