@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.fit-screen {
  width: 100vw;
  height: 100vh;
  background: #F3F5F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1439px) and (max-height: 600px) and (orientation: landscape) {
  .fit-screen {
    height: 40rem;
  }
}

@media screen and (max-width: 567px) {
  .fit-screen {
    height: calc(100vh - 3.25rem);
  }
}

@media screen and (max-width: 320px) {
  .fit-screen {
    height: calc(100vh - 3rem);
  }
}

.intro {
  margin: auto 15.625vw calc(2.5rem + 1vw);
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: auto 2rem 2.25rem;
  }
}

@media screen and (max-width: 567px) {
  .intro {
    margin: auto 1.5rem 2rem;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin-bottom: 1.5rem;
  }
}

.intro-head {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: calc(3rem + 0.46875vw);
  line-height: calc(4rem + 0.3125vw);
  letter-spacing: -1px;
  color: #1E283B;
}

@media screen and (max-width: 567px) {
  .intro-head {
    font-size: 3rem;
    line-height: 1.25;
  }
}

@media screen and (max-width: 320px) {
  .intro-head {
    font-size: 2.5rem;
    line-height: 1.3;
  }
}

.intro-body {
  font-weight: 400;
  font-size: calc(1rem + 0.25vw);
  line-height: 1.632;
  letter-spacing: -0.125px;
  color: #465168;
}

@media screen and (max-width: 1023px) {
  .intro-body {
    font-size: calc(1rem + 0.46875vw);
  }
}

@media screen and (max-width: 567px) {
  .intro-body {
    line-height: 1.6;
  }
}

.cta-scroll {
  height: calc(4rem + 1.25vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background: #0D131F;
  position: relative;
}

.img-horizon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.cta-scroll::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: calc(4rem + 1.25vw);
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.cta-scroll:hover::after {
  background: rgba(0, 0, 0, 0);
}

.scroll-more {
  margin: 0 15.625vw;
  font-weight: 400;
  font-size: calc(1rem);
  line-height: calc(2rem);
  color: #F3F5F6;
  z-index: 1 !important;
}

@media screen and (max-width: 1023px) {
  .scroll-more {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 567px) {
  .scroll-more {
    margin: 0 1.5rem;
  }
}

.see-resume {
  font-weight: 600;
  margin: 0 1rem 1.75rem;
  font-size: calc(2.5rem + 0.46875vw);
  color: #1E283B;
  text-align: center;
  letter-spacing: -0.25px;
}

@media screen and (max-width: 1023px) {
  .see-resume {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 567px) {
  .see-resume {
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
  }
}

.cta-move-to-resume-page {
  text-decoration: none;
  background: #0D131F;
  height: 3rem;
  padding: 0.875rem 1.5rem;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
  color: #F3F5F6;
  letter-spacing: 0.25px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1023px) {
  .cta-move-to-resume-page {
    margin-bottom: 2rem;
  }
}

.cta-move-to-resume-page:hover {
  background: #2D3749;
}

.card-article {
  width: 33.3333%;
  margin: 0 1rem;
  text-decoration: none;
}

@media screen and (max-width: 567px) {
  .card-article {
    width: calc(100% - 2rem);
    margin: 0 1rem 2.75rem;
  }
}

.card-image {
  position: relative;
  overflow: hidden;
}

.img-article {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.dim-overlay {
  position: absolute;
  background: #1E283B;
  display: block;
  left: 0;
  top: 0;
  width: 110%;
  height: 110%;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.card-article:hover .img-article {
  -webkit-transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0);
          transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0);
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.card-article:hover .dim-overlay {
  opacity: 0.5;
}

.article-year {
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #465168;
  margin-top: 1rem;
}

@media screen and (max-width: 1023px) {
  .article-year {
    margin-top: 0.75rem;
  }
}

@media screen and (max-width: 567px) {
  .article-year {
    margin-top: 1rem;
  }
}

.article-title {
  font-weight: 600;
  font-size: calc(1rem + 0.15625vw);
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: #1E283B;
  margin-top: 0.25rem;
}

@media screen and (max-width: 567px) {
  .article-title {
    font-size: 1.125rem;
  }
}

.article-desc {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.563;
  color: #465168;
  margin-top: 0.325rem;
}

.card-article:hover .article-title {
  text-decoration: underline;
}

.open-link {
  width: calc(100% - 2rem);
  margin: 0 1rem 1.5rem;
  text-decoration: none;
  border: 1px solid #C4CCDD;
  border-radius: 4px;
  padding: 2rem 1.75rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .open-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 567px) {
  .open-link {
    padding: 1.5rem 1.5rem;
  }
}

.open-link:hover {
  border-color: #465168;
  -webkit-box-shadow: 0px 8px 16px rgba(99, 110, 134, 0.1);
          box-shadow: 0px 8px 16px rgba(99, 110, 134, 0.1);
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.link-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.link-title {
  font-weight: 600;
  font-size: calc(1rem + 0.15625vw);
  line-height: calc(1rem + 1.09375vw);
  color: #1E283B;
  letter-spacing: -0.125px;
}

@media screen and (max-width: 1023px) {
  .link-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.link-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

@media screen and (max-width: 1023px) {
  .link-info {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 567px) {
  .link-info {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }
}

.info-text {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  color: #465168;
}

.info-dot {
  font-weight: 400;
  font-size: 0.4rem;
  line-height: 1.5rem;
  color: #465168;
  margin-left: 0.35rem;
  margin-right: 0.35rem;
}

.link-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 0.175rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.visit-link {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #1E283B;
  margin-left: 0.25rem;
}

@media screen and (min-width: 1024px) {
  .visit-link {
    display: none;
  }
}

.col-download {
  width: calc(100% - 2rem);
  height: auto;
  margin: 0 1rem 2rem;
  background: #EBECF0;
  padding: 2.75rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .col-download {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    padding: 2rem;
  }
}

.resume-stand-for {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume-name {
  margin-bottom: 0.125rem;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 2rem;
  color: #1E283B;
}

@media screen and (max-width: 567px) {
  .resume-name {
    text-align: center;
    margin-bottom: 0.25rem;
  }
}

.resume-role {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #465168;
}

@media screen and (max-width: 767px) {
  .resume-role {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 567px) {
  .resume-role {
    text-align: center;
  }
}

.download-resume {
  text-decoration: none;
  text-align: center;
  background: #1E283B;
  height: 3rem;
  width: auto;
  padding: 0.875rem 1.5rem;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
  color: #F3F5F6;
}

@media screen and (max-width: 767px) {
  .download-resume {
    margin-right: auto;
  }
}

@media screen and (max-width: 567px) {
  .download-resume {
    margin-right: 0;
  }
}

.download-resume:hover {
  background: #2D3749;
}

.col-4 {
  width: 33.3333%;
  height: auto;
  margin: 0 1rem;
  background: #EBECF0;
  padding-top: 2.75rem;
  padding-bottom: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .col-4 {
    padding-top: 2.25rem;
    padding-bottom: 1.5rem;
  }
}

@media screen and (max-width: 567px) {
  .col-4 {
    width: calc(100% - 2rem);
    margin: 0 1rem 2.5rem;
  }
}

.col-8 {
  width: 66.6667%;
  height: auto;
  margin: 0 1rem;
  background: #EBECF0;
  padding-top: 2.75rem;
  padding-bottom: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .col-8 {
    padding-top: 2.25rem;
    padding-bottom: 1.5rem;
  }
}

@media screen and (max-width: 567px) {
  .col-8 {
    width: calc(100% - 2rem);
    margin: 0 1rem 2.5rem;
  }
}

.section {
  margin: 0 2.75rem;
}

@media screen and (max-width: 767px) {
  .section {
    margin: 0 2rem;
  }
}

.section-heading {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
  color: #1E283B;
}

.section ul li {
  margin-bottom: 0.75rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0px;
  color: #465168;
}

.border-center {
  height: 1px;
  width: auto;
  background: #C4CCDD;
  margin: 1.75rem 2.75rem 2.5rem;
}

@media screen and (max-width: 767px) {
  .border-center {
    margin: 1.25rem 2rem 2rem;
  }
}

.section-institution {
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: 0.25px;
  color: #1E283B;
}

@media screen and (max-width: 1023px) {
  .section-institution {
    line-height: 1.75rem;
  }
}

.section-yoe {
  margin-bottom: 0.75rem;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.25px;
  color: #465168;
}

@media screen and (max-width: 567px) {
  .section-yoe {
    margin-bottom: 0.625rem;
  }
}

.section-desc {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.688;
  color: #465168;
}

@media screen and (max-width: 567px) {
  .section-desc {
    line-height: 1.625;
  }
}

.contact-suggest {
  margin: 0.5rem 1rem 2rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #465168;
}

@media screen and (max-width: 1023px) {
  .contact-suggest {
    margin-bottom: 1.5rem;
  }
}

.contact-further {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: #1E283B;
  margin-bottom: 0.125rem;
}

@media screen and (max-width: 567px) {
  .contact-further {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 320px) {
  .contact-further {
    font-size: 0.95rem;
    line-height: 1.5rem;
  }
}

.img-arah-mata {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  margin-bottom: 1.25rem;
}

.behind-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.behind-cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 26vw;
  width: 100%;
  background: #0D131F;
}

@media screen and (max-width: 1023px) {
  .behind-cover::after {
    height: 32vw;
  }
}

.cover-cs {
  width: calc(100% - 2rem);
  margin: 0 1rem 3rem;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .cover-cs {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 567px) {
  .cover-cs {
    margin-bottom: 2rem;
  }
}

.img-cover {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.cover-title {
  width: 83.3333%;
  margin: 0 auto 3rem;
  font-weight: 600;
  font-size: 3.125rem;
  line-height: 4.25rem;
  color: #1E283B;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .cover-title {
    margin: 0 auto 2.5rem;
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
}

@media screen and (max-width: 567px) {
  .cover-title {
    width: calc(100% - 2rem);
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin: 0 auto 2rem;
  }
}

.overview-cs {
  width: 75%;
  margin: 0 auto 3rem;
  height: auto;
  background: #EBECF0;
  padding: 3.25rem 3.25rem 2.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 730px) {
  .overview-cs {
    padding: 2.5rem 2.5rem 1.25rem;
  }
}

@media screen and (max-width: 567px) {
  .overview-cs {
    width: calc(100% - 2rem);
    margin-bottom: 2.5rem;
    padding: 2rem 2rem 1rem;
  }
}

.overview-section {
  margin: 0;
}

@media screen and (max-width: 730px) {
  .overview-section {
    margin-bottom: 0.5rem;
  }
}

.overview-heading {
  margin-bottom: 0.25rem;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
  color: #1E283B;
}

.main-title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.625;
  color: #1E283B;
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 1023px) {
  .main-title {
    line-height: 1.5;
  }
}

.sub-title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.875;
  color: #1E283B;
  margin-bottom: 0.125rem;
}

@media screen and (max-width: 1023px) {
  .sub-title {
    line-height: 1.625;
    margin-bottom: 0;
  }
}

.overview-desc {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.875;
  color: #465168;
}

.border-overview {
  height: 1px;
  width: auto;
  background: #C4CCDD;
  margin: 1.25rem 0 2rem;
}

@media screen and (max-width: 730px) {
  .border-overview {
    display: none;
  }
}

.cs-paragraph {
  width: 75vw;
  padding-left: calc(15.625vw - 1rem);
  padding-right: calc(15.625vw - 1rem);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto 2rem;
}

@media screen and (max-width: 1023px) {
  .cs-paragraph {
    width: 60vw;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 567px) {
  .cs-paragraph {
    width: calc(100% - 5rem);
    margin-bottom: 1rem;
  }
}

.img-artefact {
  width: 75%;
  margin: 0 auto 4rem;
}

@media screen and (max-width: 1023px) {
  .img-artefact {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 567px) {
  .img-artefact {
    width: calc(100% - 2rem);
    margin-bottom: 2.5rem;
  }
}

.img-ingroup {
  width: 100%;
  margin: 1rem 0 0;
}

.read-more-cs {
  width: 100vw;
  height: auto;
  padding: 5rem calc(15.625vw - 1rem) 5.5rem;
  background: #EBECF0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .read-more-cs {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}

@media screen and (max-width: 567px) {
  .read-more-cs {
    padding: 3.25rem 2rem 1.5rem;
  }
}

.choose-to-read {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 567px) {
  .choose-to-read {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav-pages {
  width: 100vw;
  height: auto;
}

.nav-desktop {
  margin: calc(1rem + 1.5vw) 15.625vw 0;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .nav-desktop {
    margin: 2.75rem 2rem 0;
  }
}

@media screen and (max-width: 567px) {
  .nav-desktop {
    margin: 1.875rem 1.5rem 0;
  }
}

.logo-muyas {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-decoration: none;
  color: #1E283B;
}

.nav-menu {
  height: auto;
}

@media screen and (max-width: 1023px) {
  .nav-menu {
    display: none;
  }
}

.menu-text {
  margin-left: 2.5rem;
  font-weight: 500;
  font-size: calc(0.875rem + 0.15625vw);
  line-height: calc(1rem + 1.953125vw);
  text-decoration: none;
  position: relative;
}

.navigation {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100vh;
  background: rgba(13, 19, 31, 0);
  clip-path: circle(25px at calc(100% - 25px) 25px);
  -webkit-clip-path: circle(25px at calc(100% - 25px) 25px);
  z-index: 2;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

@media screen and (min-width: 1024px) {
  .navigation {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .navigation {
    clip-path: circle(100px at calc(100% - 25px) 25px);
    -webkit-clip-path: circle(100px at calc(100% - 25px) 25px);
  }
}

@media screen and (max-width: 567px) {
  .navigation {
    clip-path: circle(72px at calc(100% - 25px) 25px);
    -webkit-clip-path: circle(72px at calc(100% - 25px) 25px);
  }
}

.navigation.active {
  position: fixed;
  clip-path: circle(100%);
  -webkit-clip-path: circle(100%);
  background: #0D131F;
}

.navigation .ham-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .navigation .ham-btn {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .navigation .ham-btn {
    top: 2.4375rem;
    right: 1.375rem;
  }
}

@media screen and (max-width: 567px) {
  .navigation .ham-btn {
    top: 1.4375rem;
    right: 0.75rem;
  }
}

.navigation .ham-btn span {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 2px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

@media screen and (min-width: 1023px) {
  .navigation .ham-btn span {
    display: none;
  }
}

.navigation .ham-btn span:nth-child(1) {
  top: 35%;
}

.navigation .ham-btn span:nth-child(2) {
  top: 50%;
}

.navigation .ham-btn span:nth-child(3) {
  top: 65%;
}

.navigation.active .ham-btn span:nth-child(1) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  background: #F3F5F6;
}

.navigation.active .ham-btn span:nth-child(2) {
  display: none;
  background: #F3F5F6;
}

.navigation.active .ham-btn span:nth-child(3) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  background: #F3F5F6;
}

.navigation .links {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.navigation .links a {
  position: relative;
  display: inline-block;
  margin: 20px 0px;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  color: rgba(243, 245, 246, 0);
  letter-spacing: 1px;
  cursor: pointer;
}

.navigation.active .links a {
  color: #F3F5F6;
}

.footer {
  width: 100vw;
  height: auto;
  background: #0D131F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: calc(15.625vw - 1rem);
  padding-right: calc(15.625vw - 1rem);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: auto;
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 567px) {
  .footer {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.footer-section {
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .footer-section {
    margin-bottom: 2rem;
  }
}

.get-in-touch {
  font-weight: 600;
  font-size: 1rem;
  line-height: 2.25rem;
  color: #F3F5F6;
  margin-bottom: 0.25rem;
}

@media screen and (max-width: 1023px) {
  .get-in-touch {
    letter-spacing: 0.25px;
    margin-bottom: 0.125rem;
    line-height: 1.5rem;
  }
}

.direct-contact {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #84878B;
  margin-bottom: 0.25rem;
}

@media screen and (max-width: 1023px) {
  .direct-contact {
    margin-top: 0.25rem;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .direct-contact {
    font-size: 0.95rem;
  }
}

.become-a-friend {
  font-weight: 400;
  font-size: 0.95rem;
  line-height: 1.75rem;
  color: #84878B;
  text-decoration: none;
  margin-bottom: 0.25rem;
}

@media screen and (max-width: 1023px) {
  .become-a-friend {
    margin-top: 0.25rem;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .become-a-friend {
    font-size: 0.9rem;
  }
}

.become-a-friend:hover {
  color: #F3F5F6;
  text-decoration: underline;
}

.connect-dot {
  font-weight: 400;
  font-size: 0.5rem;
  line-height: 1.75rem;
  color: #84878B;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: 0.25rem;
}

@media screen and (max-width: 1023px) {
  .connect-dot {
    margin-top: 0.25rem;
    margin-bottom: 0;
  }
}

.online-presence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  width: 100vw;
  height: auto;
  background: #F3F5F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: calc(15.625vw - 1rem);
  padding-right: calc(15.625vw - 1rem);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 567px) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.page-title {
  margin: 0 1rem 1.5rem;
  font-weight: 600;
  font-size: calc(1rem + 0.5vw);
  color: #1E283B;
  letter-spacing: 0.25px;
}

@media screen and (max-width: 567px) {
  .page-title {
    font-size: 1.45rem;
    margin-bottom: 1.5rem;
  }
}

.more-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 567px) {
  .more-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.one-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-min-height {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-cover {
  width: 100vw;
  height: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 567px) {
  .page-cover {
    height: 6.5rem;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.mt-contact {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1023px) {
  .mt-contact {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 567px) {
  .mt-contact {
    margin-bottom: 0;
  }
}

.mb-logo-footer {
  margin-bottom: 0.35rem;
}

@media screen and (max-width: 1023px) {
  .mb-logo-footer {
    margin-bottom: 0;
  }
}

.mlr-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.pt-scroll-rest {
  margin-top: 5rem;
  padding-top: 3.5rem;
}

@media screen and (max-width: 1023px) {
  .pt-scroll-rest {
    margin-top: 2rem;
    padding-top: 3rem;
  }
}

.mt-content-home {
  margin-top: 6.5rem;
}

@media screen and (max-width: 1023px) {
  .mt-content-home {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 567px) {
  .mt-content-home {
    margin-top: 2.5rem;
  }
}

.mt-content-page {
  margin-top: 4rem;
}

@media screen and (max-width: 1023px) {
  .mt-content-page {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 567px) {
  .mt-content-page {
    margin-top: 3rem;
  }
}

.mb-content-page {
  margin-bottom: 5rem;
}

@media screen and (max-width: 1023px) {
  .mb-content-page {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 567px) {
  .mb-content-page {
    margin-bottom: 2rem;
  }
}

.mb-content-home {
  margin-bottom: 6rem;
}

@media screen and (max-width: 1023px) {
  .mb-content-home {
    margin-bottom: 2.75rem;
  }
}

@media screen and (max-width: 567px) {
  .mb-content-home {
    margin-bottom: 3rem;
  }
}

.m-footer {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1023px) {
  .m-footer {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .m-footer {
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mb-last-section {
  margin-bottom: 0.75rem;
}

.mb-education {
  margin-bottom: 0.25rem;
}

.no-padding {
  padding: 0 0 3rem;
}

@media screen and (max-width: 1023px) {
  .no-padding {
    padding: 0 0 1rem;
  }
}

.has-bg-mint {
  background: #0D131F;
}

.has-bg-snow {
  background: #F3F5F6;
}

.has-bg-night {
  background: #0D131F;
}

.has-bg-font-black {
  background: #1E283B;
}

.has-color-snow {
  color: #F3F5F6;
}

.has-color-font-black {
  color: #1E283B;
}

.is-menu-at-home {
  color: #84878B;
}

.is-menu-at-home:hover {
  color: #F3F5F6;
}

.is-menu-active {
  color: #1E283B;
}

.is-menu-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 1.5px;
  background: #1E283B;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.is-menu-idle {
  color: #636E86;
}

.is-menu-idle:hover {
  color: #1E283B;
}

.is-contact-idle {
  color: #465168;
}

.is-contact-idle:hover {
  color: #1E283B;
}

.justify-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display-568-up {
  position: relative;
}

@media screen and (max-width: 567px) {
  .display-568-up {
    display: none;
  }
}

.display-567-down {
  position: relative;
}

@media screen and (min-width: 568px) {
  .display-567-down {
    display: none;
  }
}

.section-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 730px) {
  .section-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.text-center {
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */